{% extends "master.html" %}

{% block title %}
  {{ course.course_name }} Forum
{% endblock %}


{% block content %}
  <div class = "forum"> 
  <h1>{{ course.course_name }} Forum</h1>   
  
  <ul>
    {% for ticket in ticket_list %}
      <li>
        User: {{ ticket.user }}
        <br>
        Post Time:{{ticket.time_of_post}}
        <br>
        Title: {{ ticket.title }}
        <br>
        Description: {{ ticket.post_description}}
        <br>
        {% if ticket.pdf_file %}
            File: <a href="{{ ticket.pdf_file.pdf }}" download>{{ ticket.pdf_file }}</a>
            <br>
        {% endif %}
        {% if ticket.video_file %}
        Video: <iframe width="560" height="315" src="{{ ticket.video_file }}" frameborder="0" allowfullscreen>{{thicket.video_file}}</iframe>
        <br>
        {% endif %}
        {% if ticket.video_website_address %}
            Video URL: <a href = "{{ticket.video_website_address}}">{{ticket.video_website_address}}</a>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
    
  </div>
{% endblock %}