{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>

<nav class="topnav">
      <div class="collapse navbar-collapse" id="navbar">
          <!-- Need to redo this page to create better user experience when logged on and not logged on-->
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          |
          <a class="nav-item nav-link" id="users" href="/users">Users</a>
          |
          <a class="nav-item nav-link" id="account" href="/account">Account</a>
          |
          <a class="nav-item nav-link" id="search" href="/search">Search</a>
          |
          <a class="nav-item nav-link" id="upload" href="/upload">Upload</a>
          |
          <a class="nav-item nav-link" id="subjects" href="/logout">Logout</a>
          |
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          |
          <a class="nav-item nav-link" id="signup" href="/signup">Sign up</a>
        </div>
      </div>
    </nav>
</div>

{% block content %}
{% endblock %}

</body>
</html>